#crafts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    padding: 3%;
    gap: 1rem;
    overflow-y:auto;
    white-space: nowrap;
    margin-top:3%;

    /* border-radius: 2rem; */
    box-shadow: 0 4px 30px rgba(225, 0, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-top: thick double hsl(272, 65%, 41%);
    border-bottom: thick double hsl(272, 65%, 41%);
    transform: translate3d(0, 0, 0);
}

.craftBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50%;
    cursor: pointer;
    color: #f0f8ff;
    transition: all 0.5s;
    z-index: 1;
    position: relative;
  }
  .craftBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:  rgb(137, 100, 177);
    transition: all 0.3s;
  }
  .craftBtn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .craftBtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .craftBtn:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  