#interaction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:60%;
    height: 100%;
    margin-top:1%;
    background-color: tomato;
    gap: 1rem;
    overflow-y:scroll;
    white-space: nowrap;
    margin-bottom: 0;
    
}