#interaction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  margin-top: 1%;
  background-color: tomato;
  gap: 1rem;
  overflow-y: scroll;
  white-space: nowrap;
  margin-bottom: 0;

}

.interBtn {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

.interBtn {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 45%;
    height: 20%;
    cursor: pointer;
    background: #6dd6d1;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
    font-family: 'Damion', cursive;
    color: white;
    font-size: small;
    transition: 500ms;
}

.interBtn:hover {
        border: 2px solid #6dd6d1;
    animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
    to {filter: hue-rotate(360deg);}
}

.interBtn:focus {
    outline: none;
}
