@import url(https://fonts.googleapis.com/css?family=Dosis);
@import "./eventlog.css";
@import "./planet.css";
@import "./inventory.css";
@import "./navigation.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}
html {
  overflow: hidden;
  /* background: radial-gradient(circle at 100px 100px, #1b181f 21.2%, #320459 84.8%); */
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 70%;
  outline-style: solid;
}

#main {
  width: 77%;
  height: 95%;
  outline-style: solid;
}
