@import url(https://fonts.googleapis.com/css?family=Dosis);
@import "./eventlog.css";
@import "./planet.css";
@import "./inventory.css";
@import "./navigation.css";
@import "./interaction.css";
@import "./status.css";
@import "./crafts.css";
@import "./equipment.css";
@import "./bg.css";
@import "./tabs.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
  color: #f0f8ff;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 80%;
  z-index: 1;
  /* outline-style: solid; */
}

#main {
  width: 60%;
  height: 95%;
  /* outline-style: solid; */
}